<html>
	<body><title>Add Assest</title>
	<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->

	<p>Create a new asset:</p>
		<form action="{{url_for('add_asset')}}" method = "POST">
			asset tag: <br>
			<input type="text" name="asset_tag" ><br>
			description: <br>
			<input type="text" name="description" ><br>
			location:<br>
			<select name='common_name'>
				<option value='DC'> DC </option>
				<option value='HQ'> HQ </option>
				<option value='MB005'> MB005 </option>
				<option value='NC'> NC </option>
				<option value='SPNV'> SPNV </option>
			</select>
			asset arrived: <br>
			<input type="text" name="date" ><br>

			<input type="submit" name="submit" value="submit"/>
		</form>
		<h2>Assets in database:</h2>
		<table>
			<tr>
				<th> asset_tag </th>
				<th> description </th>
			</tr>

			{%for item in session.asset_list%}
			<tr>
				<td> {{item.asset_tag}} </td>
				<td> {{item.description}} </td>
			</tr>
			{%endfor%}
		</table>
	</body>
</html>
