<html>
	<body><title>Add Facility</title>
		<h1>Welcome to Lost</h1>
	<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->

	<p>Create a new Facility:</p>
		<form action="{{url_for('create_user')}}" method = "POST">
			User name: <br>
			<input type="text" name="username" ><br>
			Role: <br>
			<input type="radio" name="role" value="Logistics Officer"> Logistics Officer 
			<input type="radio" name="role" value="Facilities Officer"> Facilities Officer
			<br>
			Password:<br>
			<input type="password" name="password" ><br><br>
			<input type="submit" name="submit" value="submit"/>
		</form>
	</body>
</html>



<!--We're not actually going to authenticate a login yet. This screen will just accept whatever information the user gives.-->