<html>
	<title>Dashboard</title>
	<body>
		<h1>Dashboard</h1>
	<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->

		<h1>Welcome {{session.username}} you are a {{session.role}}</h1>

		<a href="{{url_for('asset_report')}}">Asset report:</a> See a list of assets LOST by facility. 
		<br>
		<a href="{{url_for('add_asset')}}">Add asset:</a> Add an asset to LOST. 
		<br>
		<a href="{{url_for('add_facility')}}">Add facility:</a> Add a facility to LOST.
		<br>
		<a href="{{url_for('transfer_report')}}">Transfer report:</a> Listing of assets in transit
		<br>
		
		{% if session.role == 'Logistics Officer' %}
		<a href="{{url_for('dispose_asset')}}">Dispose an asset</a> 
		<br>
		<a href="{{url_for('transfer_req')}}">Request to transfer an asset</a>
		<br>
		{% endif %}







		{% if session.role == "Logistics Officer" %}
			<table>
				<tr>
					<th> Asset </th>
					<th> Source </th>
					<th> Dest. </th>
					<th> Load date </th>
					<th> Unload Date </th>
					<th> VALIDATION </th>
				</tr>
				{% for row in session.tasks %}
				<tr>
					<td> {{row.asset}} </td>
					<td> {{row.src_fac}} </td>
					<td> {{row.dest_fac}} </td>
					<td> {{row.load_dt}} </td>
					<td> {{row.unload_dt}} </td>

					<td> <form action="{{url_for('update_transit')}}" method="GET">
							<button name='trans_id' type="submit" value="{{row.trans_id}}">Update</button>
						</form> </td>
				</tr>
			</table>
		{% endif %}



			




		{% if session.role == "Facilities Officer" %}
		<table>
			<tr>
				<th> Asset_tag </th>
				<th> Source </th>
				<th> Load_date </th>
				<th> Dest. </th>
				<th> Unload_date </th>
				<th>  </th>
				<th> UPDATE </th>
			</tr>
			{% for row in session.tasks %}
			<tr>
				<td> {{row.val1}} </td>
				<td> {{row.val2}} </td>
				<td> {{row.val3}} </td>
				<td> {{row.val4}} </td>
				<td> {{row.val5}} </td>
				<td> {{row.val6}} </td>

				<td> <form action="{{url_for('approve_req')}}" method="GET">
						<button name='approve_id' type="submit" value="{{row.approve_id}}">Validate</button>
					</form></td>
				</tr>
			</table>
		{% endif %}



			<br>
	Click <a href="{{url_for('logout')}}">here</a> to logout.
	</body>
</html>