<html>
	<body><title>Remove Assets</title>
	<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->

	<p>Remove assets:</p>
		<form action="{{url_for('dispose_asset')}}" method = "POST">
			asset tag: <br>
			<input type="text" name="asset_tag" ><br>
			
			Asset disposed on (YYYY-MM-DD): <br>
			<input type="date" name="disposed_dt" value="2017-01-01"><br>

			<input type="submit" name="submit" value="submit"/>
		</form>
	Return to <a href="{{url_for('dashboard')}}">Dashboard</a> 
	</body>
</html>
