<html>
	<body><title>Facility Inventory Report</title>
	<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->

	<h2>Facilities Report</h2>
	<!-- table formating from W3, and Piazza -->
		<table border="1">
			<tr>
				<th>Asset Tag</th> <th>Facility</th> <th>Description</th> <th>Departure</th> <th>Arrival</th>
			</tr>
			
			{% for entry in session.facility_report %}
			<tr>
				<td>{{ entry.asset_tag }}</td> <td>{{ entry.common_name}}</td> <td>{{ entry.description}}</td> <td>{{ entry.depart_dt}}</td> <td>{{ entry.arrive_dt}}</td>
			</tr>
			{% endfor %}

		</table>
		<br>
		<a href="{{url_for('logout')}}"> Click here to logout </a> 
		<br>
		<a href="{{url_for('report_filter')}}"> Return to home</a> 

		
		
	</body>
</html>