<html>
	<body><title>Transit Report</title>
	<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->

  <h2>Assets in Transit Report</h2>
  <!-- table formating from W3, and Piazza -->
    <table border="1">
      <tr>
         <th>Asset Tag</th> <th>Description</th> <th>Source Facility</th> <th>Destination Facility</th> <th>Loaded</th> <th>Unloaded</th>
      </tr>
      {% for entry in session.transit_report %}
      <tr>
         <td>{{entry.asset_tag}}</td> <td>{{entry.description}}</td> <td>{{entry.source}}</td> <td>{{entry.destination}}</td> <td>{{entry.load_dt}}</td> <td>{{entry.unload_dt}}</td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <a href="{{url_for('logout')}}"> Click here to logout </a> 
    <br>
    <a href="{{url_for('Report_filter')}}"> Return to home</a> 

	</body>
</html>