<html>
	<body><title>Report Filter</title>

		<!--<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}</p>-->
		<form action="{{url_for('report_filter')}}">
			
			<h4>Report type:</h4>
  			<input type="radio" name="filter" value="Transit">Transit
 			<input type="radio" name="filter" value="Facilities">Facilities
 			
 			<h4>Sort by:</h4>
			Facilities:
			<input type="text" name="facilities" />
			<br>
			Date:
			<input type="date" name="date" />
			<br>
 			<input type="submit" name="submit" />
			<input type="reset"/>
		</form>



		<a href="{{url_for('logout')}}">Logout</a>


	</body>
</html>